<!--interfata grafica a aplicatiei-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ARSFII</title>
</head>
<body>
<div class="title">
    <h1>BINE AI VENIT IN A.R.S.F.I.I.</h1>
    <h3>(Automatul de repartizare a studentilor din Facultatea De Informatica din Iasi)</h3>
</div>
<div class="main">
    <div>
        <h2>Incarcare CSV cu locurile din campus</h2>
        <form id="campus" method="post" enctype="multipart/form-data" action="/campus">
            <input type="file" name="file" accept=".csv"/>
            <button type="submit">Incarca</button>
        </form>
        <div id="campusMessage" class="message"></div>
    </div>

    <div>
        <h2>Incarcare CSV cu preferintele studentilor</h2>
        <form id="preferencies" method="post" enctype="multipart/form-data" action="/preferencies">
            <input type="file" name="file" accept=".csv"/>
            <button type="submit">Incarca</button>
        </form>
        <div id="preferenciesMessage" class="message"></div>
    </div>

    <div>
        <h2>Repartizare studenti</h2>
        <form id="repartitions" method="post" action="/repartitions">
            <button type="submit">Repartizare studenti</button>
        </form>
        <div id="repartitionsMessage" class="message"></div>
    </div>

    <div>
        <h2>Lista cu studentii repartizati</h2>
        <form id="listsForm" method="get" action="/lists">
            <button type="submit">Exportare PDF</button>
        </form>
    </div>
</div>

<style>
    body{
        background-color: rgba(2,0,4,0.84);
        color: cornsilk;
    }
    .main{
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-family: "JetBrains Mono" ,monospace;
    }
    .message {
        margin: 10px;
        font-weight: bold;
        display: none;
    }

    .title{
        font-family: "JetBrains Mono" ,monospace;
        align-items: center;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var forms = document.querySelectorAll('form');

        forms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData(form);
                var messageDiv = document.getElementById(form.id + 'Message');

                if (form.id !== 'listsForm') {
                    fetch(form.action, {
                        method: form.method,
                        body: formData
                    })
                        .then(function(response) {
                            return response.json();
                        })
                        .then(function(data) {
                            messageDiv.textContent = data.message;
                            messageDiv.style.display = 'block';
                        })
                        .catch(function(error) {
                            messageDiv.textContent = 'EROARE';
                            messageDiv.style.display = 'block';
                        });
                } else {
                    form.submit();
                }
            });
        });
    });
</script>

</body>
</html>
